<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Change Password</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body class="right_photo">
<div style="text-align: center;">
  <br>
  <br>
  <br>
  <h1>Change Password</h1>

  <div style="text-align: left; display: inline-block;">
    <form action="#" th:action="@{/changePassword}" method="post" >

<!--      <label for="pinNumber">Current Password:</label>-->
<!--      <input type="password" id="pinNumber" name="pinNumber" th:field="*{pinNumber}" required>-->
<!--      <br>-->

<!--      <label for="newPinNumber">New Password:</label>-->
<!--      <input type="password" id="newPinNumber" name="newPinNumber" th:field="*{newPinNumber}" required>-->
<!--      <br>-->

<!--      <label for="confirmPinNumber">Confirm New Password:</label>-->
<!--      <input type="password" id="confirmPinNumber" name="confirmPinNumber" th:field="*{confirmPinNumber}" required>-->
<!--      <br>-->

      <div style="text-align: right;">
        <button type="submit" style="width: 212px; height: 22px;">Change</button>
      </div>
    </form>
  </div>
</div>
</body>
</html>
