<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Loan Repayment</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div style="text-align: center;">
    <h1>Repayment Calculations</h1>
    <br>
    <p>Your monthly loan payment is (Euro): <span th:text="${repayments.get('monthlyPayment')}"></span></p>
    <p>Your total loan payment is (Euro): <span th:text="${repayments.get('totalPayment')}"></span></p>
    <br>
    <a href="javascript:history.back()">Go to Personal Page</a>
    <br>
    <a href="http://localhost:8080/">Go to Home Page</a>

</div>
</body>
</html>
