<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Loan Repayment</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div style="text-align: center;">
    <h2>!</h2>
    <p>Your monthly loan payment is: <span th:text="${monthlyPayment}"></span></p>
    <br>
    <a href="javascript:history.back()">Go to Personal Page</a>
    <br>
    <a href="http://localhost:8080/">Go to Home Page</a>

</div>
</body>
</html>
