<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Error page</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body class="right_photo">
<div style="text-align: center;">
  <br>
  <br>
  <br>
  <h1>Your new password is different from the password
    <br> you entered the confirmation password field!</h1>
  <h2>Try again!</h2>

  <!--    <a href="/register">Navigate to registration</a>-->
  <br>
  <a href="/login">Go to Login Page</a>
  <br>
  <br>
  <a href="http://localhost:8080/">Go to Home Page</a>
</div>
</body>
</html>