<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Personal page</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div style="text-align: center;">
    <h1>Welcome to your personal page! </h1>
    <h2>Account Number: <span th:text="${userAccount}"  class="account-number"></span></h2>
    <h2>Saving Balance: <span th:text="${userBalance}" class="saving-balance"></span></h2>
     <form action="/deposit" method="post" th:object="${depositRequest}">
         <input type="hidden" id="accountNumber" name="userAccount" value="${userAccount}" required>
         <label for="amount">Amount:</label>
        <input type="number" id="amount" name="amount" vlue="${amount}" required>
        <br>
        <button type="submit">Deposit</button>
    </form>
</div>
</body>
</html>
