<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Deposit Success</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="right_photo">
<div style="text-align: center;">
    <br>
    <br>
    <br>
    <h2>Your withdrawal was Successful!</h2>
    <p>Your new balance is: <span th:text="${newBalance}"></span></p>
    <br>
    <a href="javascript:history.back()">Go to Personal Page</a>
    <br>
    <br>
    <a href="http://localhost:8080/">Go to Home Page</a>

</div>
</body>
</html>
